body {
  font-family: sans-serif;
  background: #fafafa;
  color: #281d02;
  margin-left: 3%;
  margin-right: 3%;
}

a, Link{
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
  color: #8b6914;
}

form div {
  margin: 1em;
  display: inline-block;
}

.responsive{
  width: 25%;
  height: auto;
  max-width: 210px;
  max-height: auto;
  min-height: 10em;
  min-width: 10em
}

.singleHeader {
  background: #f8d9d63b;
  border: 1px solid grey;
  font-family: 'Cupcake Treats', sans-serif;
  font-weight: bold;
  font-size: 150%;
  max-width: 1300px;
}

.sectionStyle{
  /* background: #fff8dc; */
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.quantity {
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 14px;
  background-color: #fafafa;
  margin-left: 1rem;
}

#logo-div {
  display: flex;
}

nav {
  background-color: #F8D9D6;
  text-decoration: none;
  font-size: 120%;
}

#logo {
  padding: 0.5%;
  /* display: block; */
  width: 30%;
  height: auto;
  justify-content: left;
}

#content {
  margin-top: 10%;
}

Link:hover, a:hover {
  text-decoration: none;
  color: #453407;
}

.productImg {
  max-width: 100%;
  max-height: auto;
  width: 15em;
  height: auto
}

.product-name {
  font-family: 'Cupcake Treats', sans-serif;
  text-decoration: none;
  color: #453407;
  white-space: wrap;
}

.product-name:hover {
  color: #42929D;
}

.product-card {
  background-color: #f8d9d629;
  margin: 1%;
  font-size: 145%;
  max-width: 12em;
  max-height: auto;
  width: 15em;
  height: auto
}

.product-price {
  font-size: 65%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.baseline {
  align-items: baseline;
}

.product {
  padding-left: 5%;
  padding-right: 5%;
}

.featured-items {
  margin: auto;
}

footer {
  background-color: #42929d71;
  left: 0;
  right: 0;
  color: #4f3b07;
  will-change: transform;
}

.root {
  padding-bottom: 10%;
}

.contact-info {
  text-decoration: none;
  color: #4f3b07;
}

.card-columns {
  width: 100%
  }

.order-header {
  background-color:#badae2
}
.order {
  text-indent: 1em;
}

.singleCard {
  background: #fafafa;
}

.orderCard {
  width: 20em
}

.orderImg {
  width: auto;
  height: auto
}

.cart-img {
  max-width: 450px;
  height: auto;
}

.cart-buttons {
  text-decoration: none;
  color: white;
}

.cart-buttons:hover {
  color: white;
}

.productImg-sm {
  max-width: 40%;
  max-height: auto;
  width: 15em;
  height: auto
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.cupcake-font {
  font-family: 'Cupcake Treats', sans-serif;
}
