body {
  font-family: sans-serif;
  background: #fff8dc;
  color: #281d02
}

a, Link{
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #fff8dc
  /* font-family: "Saira Extra Condensed"; */
}

form div {
  margin: 1em;
  display: inline-block;
}

#logo-div {
  display: flex;
}

nav {
  background-color: #8b6914;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  position: fixed;
  margin: 0 2% 0.5% 0;
}

#logo {
  padding: 0.5%;
  display: block;
  width: 20%;
  height: auto;
  justify-content: left;
}

#content {
  margin-top: 10%;
}

Link:hover {
  color: #453407;
}

@media (max-width: 767px){
  body
  {
    background: #fff8dc;
    overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
  }

  nav-div > Link {
    transition: color 0.3s ease;
  }

}

@media (min-width: 765px){

}
