body {
  font-family: sans-serif;
  background: #fff8dc;
  color: #281d02
}

a, Link{
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  /* display: inline-block; */
  margin: 1em;
  color: #fff8dc
  /* font-family: "Saira Extra Condensed"; */
}

form div {
  margin: 1em;
  display: inline-block;
}

/* img{
  width: 100px;
  height: 100px;
} */

.responsive{
  width: 25%;
  height: auto;
  max-width: 210px;
  max-height: auto;
  min-height: 10em;
  min-width: 10em
}

.singleProduct {
  background: #84C3C8;
  border: 1px solid grey;
  width: 10rem;
  max-width: 120em;
  max-height: auto;
  margin: 2%;
  text-align: center;
}

.singleHeader {
  background: #F8D9D6;
  border: 1px solid grey;
  height: 12%;
  width: 95%;
  margin: 2%;
  font-family: 'Cupcake Treats', sans-serif;
  font-weight: bold;
  font-size: 130%;
  text-align: center;
  box-align: center
}

.sectionStyle{
  background: #fff8dc;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.singleProductContainer {
  margin: 1%;
  border: none;
  box-align: center;
  padding: 60px;
  width: 80%;
  height: auto;
  background: #fff8dc;
}

.addToCartButton {
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 14px;
  background-color: #FFEDB3;
  margin-left: 1rem;
}

.quantity {
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 14px;
  background-color: #FEFFF6;
  margin-left: 1rem;
}

#logo-div {
  display: flex;
}

nav {
  background-color: #8b6914;
  text-decoration: none;
  margin: 0 5% 2% 5%;
}

#logo {
  padding: 0.5%;
  /* display: block; */
  width: 20%;
  height: auto;
  justify-content: left;
}

#content {
  margin-top: 10%;
}

Link:hover, a:hover {
  text-decoration: none;
  color: #453407;
}

.productImg {
  max-width: 210px;
  max-height: auto;
}

.product-name {
  font-family: 'Cupcake Treats', sans-serif;
  text-decoration: none;
  color: #453407;
  white-space: wrap;
}

.product-name:hover {
  color: #42929D;
}

.product-card {
  background-color: #F8D9D6;
  margin: 1%;
  font-size: 120%;
  max-width: 253px;
  max-height: auto;
  width: 15em;
  height: auto
}

@media (max-width: 767px){
  body
  {
    background: #fff8dc;
  }

}

.card-columns {
  width: 100%
  }

.orderImg {
  width: 4%;
  height: 4%;
}

.order-header {
  background-color:#badae2
}
.order {
  text-indent: 1em;
}

/* .card {
  width: 100%;
  height: 25%;
  object-fit: contain;
  margin: 2%;
} */
